<ion-header>
  <ion-toolbar>
    <ion-title>Badge</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-badge class="ion-margin-end">Default</ion-badge>
  <ion-badge color="primary" class="ion-margin-end">Primary</ion-badge>
  <ion-badge color="secondary" class="ion-margin-end">Secondary</ion-badge>
  <ion-badge color="tertiary" class="ion-margin-end">Tertiary</ion-badge>
  <ion-badge color="success" class="ion-margin-end">Success</ion-badge>
  <ion-badge color="warning" class="ion-margin-end">Warning</ion-badge>
  <ion-badge color="danger" class="ion-margin-end">Danger</ion-badge>
  <ion-badge color="light" class="ion-margin-end">Light</ion-badge>
  <ion-badge color="medium" class="ion-margin-end">Medium</ion-badge>
  <ion-badge color="dark" class="ion-margin-end">Dark</ion-badge>
  <ion-badge color="primary" class="ion-margin-end">Primary</ion-badge>

  <h5>Item with badge on left and right</h5>
  <ion-item>
    <ion-badge slot="start">Start</ion-badge>
    <ion-label>My Item</ion-label>
    <ion-badge slot="end">End</ion-badge>
  </ion-item>

  <h5>Mode</h5>
  <ion-badge mode="ios" class="ion-margin-end">IOS</ion-badge>
  <ion-badge mode="md">MD</ion-badge>

  <h5>CSS</h5>
  <ion-badge class="background">--background</ion-badge>
  <ion-badge class="color">--color</ion-badge>
  <ion-badge class="padding-bottom">--padding-bottom</ion-badge>
  <ion-badge class="padding-top">--padding-top</ion-badge>
  <ion-badge class="padding-start">--padding-start</ion-badge>
  <ion-badge class="padding-end">--padding-end</ion-badge>

</ion-content>