<ion-header>
  <ion-toolbar>
    <ion-title>Progress</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <h5>Default ProgressBar</h5>
  <ion-progress-bar></ion-progress-bar>

  <h5>Default ProgressBar with 50 percent</h5>
  <ion-progress-bar value="0.5"></ion-progress-bar>

  <h5>Color ProgressBar</h5>
  <ion-progress-bar color="warning" value="0.7"></ion-progress-bar>

  <h5>Determinate</h5>
  <ion-progress-bar value="0.25" buffer="0.4"></ion-progress-bar>
  <br>
  <ion-progress-bar type="indeterminate"></ion-progress-bar>
  <br>
  <ion-progress-bar type="indeterminate" reversed="true"></ion-progress-bar>

  <h5>Ios</h5>
  <ion-progress-bar type="indeterminate" mode="ios"></ion-progress-bar>

</ion-content>