<ion-header>
  <ion-toolbar>
    <ion-title>Toggle</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item-divider color="primary">
    <h5>Default</h5>
  </ion-item-divider>
  <ion-toggle></ion-toggle>

  <!--  -->
  <ion-item-divider color="warning">
    <h5>Disabled</h5>
  </ion-item-divider>
  <ion-toggle disabled></ion-toggle>

  <!--  -->
  <ion-item-divider color="success">
    <h5>Checked</h5>
  </ion-item-divider>
  <ion-toggle checked></ion-toggle>

  <!--  -->
  <ion-item-divider color="light">
    <h5>Colors</h5>
  </ion-item-divider>
  <ion-toggle color="primary"></ion-toggle>
  <ion-toggle color="secondary"></ion-toggle>
  <ion-toggle color="danger"></ion-toggle>
  <ion-toggle color="light"></ion-toggle>
  <ion-toggle color="dark"></ion-toggle>

  <!--  -->
  <ion-item-divider color="danger">
    <h5>List</h5>
  </ion-item-divider>
  <ion-list>
    <ion-item>
      <ion-label>Pepperoni</ion-label>
      <ion-toggle></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label>Sausage</ion-label>
      <ion-toggle disabled="true"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label>Mushrooms</ion-label>
      <ion-toggle></ion-toggle>
    </ion-item>
  </ion-list>
  
  <!--  -->
  <ion-item-divider>
    <h5>IOS</h5>
  </ion-item-divider>
  <ion-toggle mode="ios"></ion-toggle>

</ion-content>