.action-sheet-custom{
    .bg-violet{
        background-color: violet;
    }
    .bg-danger{
        background-color: red;
        color: white;
    }
}

.alert-radio{
    .text-danger{
      color: red;
    }
}