<ion-app>

<ion-split-pane when="md" contentId="main">

  <ion-menu menuId="main-menu" contentId="main">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>

        <ion-menu-toggle>
          <ion-item [routerLink]="['/home']">
            <!-- <ion-icon name="grid-outline" slot="start"></ion-icon> -->
            <ion-label>Home</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-item [routerLink]="['/actionSheet']">
          <!-- <ion-icon name="caret-up-outline" slot="start"></ion-icon> -->
          <ion-label>Action Sheet</ion-label>
        </ion-item>
        
        <ion-item [routerLink]="['/alert']">
          <!-- <ion-icon name="alert-circle-outline" slot="start"></ion-icon> -->
          <ion-label>Alert</ion-label>
        </ion-item>

        <ion-item [routerLink]="['/badge']">
          <!-- <ion-icon name="caret-up-outline" slot="start"></ion-icon> -->
          <ion-label>Badge</ion-label>
        </ion-item>

        <ion-item [routerLink]="['/button']">
          <!-- <ion-icon name="caret-up-outline" slot="start"></ion-icon> -->
          <ion-label>Button</ion-label>
        </ion-item>

        <ion-item [routerLink]="['/ripple']">
          <!-- <ion-icon name="caret-up-outline" slot="start"></ion-icon> -->
          <ion-label>Ripple</ion-label>
        </ion-item>

        <ion-item [routerLink]="['/card']">
          <!-- <ion-icon name="caret-up-outline" slot="start"></ion-icon> -->
          <ion-label>Card</ion-label>
        </ion-item>

        <ion-item [routerLink]="['/checkbox']">
          <!-- <ion-icon name="caret-up-outline" slot="start"></ion-icon> -->
          <ion-label>Checkbox</ion-label>
        </ion-item>

        <ion-item [routerLink]="['/chip']">
          <!-- <ion-icon name="caret-up-outline" slot="start"></ion-icon> -->
          <ion-label>Chip</ion-label>
        </ion-item>

        <ion-item [routerLink]="['/content']">
          <!-- <ion-icon name="caret-up-outline" slot="start"></ion-icon> -->
          <ion-label>Content</ion-label>
        </ion-item>

        <ion-item [routerLink]="['/datetime']">
          <!-- <ion-icon name="caret-up-outline" slot="start"></ion-icon> -->
          <ion-label>Date Time</ion-label>
        </ion-item>

        <ion-item [routerLink]="['/grid']">
          <!-- <ion-icon name="caret-up-outline" slot="start"></ion-icon> -->
          <ion-label>Grid</ion-label>
        </ion-item>

        <ion-item [routerLink]="['/input']">
          <!-- <ion-icon name="caret-up-outline" slot="start"></ion-icon> -->
          <ion-label>Input</ion-label>
        </ion-item>

        <ion-item [routerLink]="['/fab']">
          <!-- <ion-icon name="caret-up-outline" slot="start"></ion-icon> -->
          <ion-label>Fab</ion-label>
        </ion-item>

        <ion-item [routerLink]="['/fab-button']">
          <!-- <ion-icon name="caret-up-outline" slot="start"></ion-icon> -->
          <ion-label>Fab Button</ion-label>
        </ion-item>

        <ion-item [routerLink]="['/fab-list']">
          <!-- <ion-icon name="caret-up-outline" slot="start"></ion-icon> -->
          <ion-label>Fab List</ion-label>
        </ion-item>

        <ion-item [routerLink]="['/item']">
          <!-- <ion-icon name="caret-up-outline" slot="start"></ion-icon> -->
          <ion-label>item</ion-label>
        </ion-item>

        <ion-item [routerLink]="['/item-group']">
          <!-- <ion-icon name="caret-up-outline" slot="start"></ion-icon> -->
          <ion-label>Item Group</ion-label>
        </ion-item>

        <ion-item [routerLink]="['/item-sliding']">
          <!-- <ion-icon name="caret-up-outline" slot="start"></ion-icon> -->
          <ion-label>Item Sliding</ion-label>
        </ion-item>

        <ion-item [routerLink]="['/list']">
          <!-- <ion-icon name="caret-up-outline" slot="start"></ion-icon> -->
          <ion-label>list</ion-label>
        </ion-item>

        <ion-item [routerLink]="['/virtual-scroll']">
          <!-- <ion-icon name="caret-up-outline" slot="start"></ion-icon> -->
          <ion-label>Virtual Scroll</ion-label>
        </ion-item>

        <ion-item [routerLink]="['/avatar-img-thumbnail']">
          <!-- <ion-icon name="caret-up-outline" slot="start"></ion-icon> -->
          <ion-label>Avatar</ion-label>
        </ion-item>

        <ion-item [routerLink]="['/modal']">
          <!-- <ion-icon name="caret-up-outline" slot="start"></ion-icon> -->
          <ion-label>Modal</ion-label>
        </ion-item>

        <ion-item [routerLink]="['/nav']">
          <!-- <ion-icon name="caret-up-outline" slot="start"></ion-icon> -->
          <ion-label>Nav</ion-label>
        </ion-item>

        <ion-item [routerLink]="['/popover']">
          <!-- <ion-icon name="caret-up-outline" slot="start"></ion-icon> -->
          <ion-label>Popover</ion-label>
        </ion-item>

        <ion-item [routerLink]="['/loading']">
          <!-- <ion-icon name="caret-up-outline" slot="start"></ion-icon> -->
          <ion-label>Loading</ion-label>
        </ion-item>

        <ion-item [routerLink]="['/progress']">
          <!-- <ion-icon name="caret-up-outline" slot="start"></ion-icon> -->
          <ion-label>Progress</ion-label>
        </ion-item>

        <ion-item [routerLink]="['/skeleton']">
          <!-- <ion-icon name="caret-up-outline" slot="start"></ion-icon> -->
          <ion-label>Skeleton</ion-label>
        </ion-item>

        <ion-item [routerLink]="['/spinner']">
          <!-- <ion-icon name="caret-up-outline" slot="start"></ion-icon> -->
          <ion-label>Spinner</ion-label>
        </ion-item>

        <ion-item [routerLink]="['/radio']">
          <!-- <ion-icon name="caret-up-outline" slot="start"></ion-icon> -->
          <ion-label>Radio</ion-label>
        </ion-item>

        <ion-item [routerLink]="['/range']">
          <!-- <ion-icon name="caret-up-outline" slot="start"></ion-icon> -->
          <ion-label>Range</ion-label>
        </ion-item>

        <ion-item [routerLink]="['/refresher']">
          <!-- <ion-icon name="caret-up-outline" slot="start"></ion-icon> -->
          <ion-label>Refresher</ion-label>
        </ion-item>

        <ion-item [routerLink]="['/reorder']">
          <!-- <ion-icon name="caret-up-outline" slot="start"></ion-icon> -->
          <ion-label>Reorder</ion-label>
        </ion-item>

        <ion-item [routerLink]="['/searchbar']">
          <!-- <ion-icon name="caret-up-outline" slot="start"></ion-icon> -->
          <ion-label>Searchbar</ion-label>
        </ion-item>

        <ion-item [routerLink]="['/segment']">
          <!-- <ion-icon name="caret-up-outline" slot="start"></ion-icon> -->
          <ion-label>Segment</ion-label>
        </ion-item>

        <ion-item [routerLink]="['/slides']">
          <!-- <ion-icon name="caret-up-outline" slot="start"></ion-icon> -->
          <ion-label>Slides</ion-label>
        </ion-item>

        <ion-item [routerLink]="['/select']">
          <!-- <ion-icon name="caret-up-outline" slot="start"></ion-icon> -->
          <ion-label>Select</ion-label>
        </ion-item>

        <ion-item [routerLink]="['/tab']">
          <!-- <ion-icon name="caret-up-outline" slot="start"></ion-icon> -->
          <ion-label>Tab</ion-label>
        </ion-item>

        <ion-item [routerLink]="['/toast']">
          <!-- <ion-icon name="caret-up-outline" slot="start"></ion-icon> -->
          <ion-label>Toast</ion-label>
        </ion-item>

        <ion-item [routerLink]="['/toggle']">
          <!-- <ion-icon name="caret-up-outline" slot="start"></ion-icon> -->
          <ion-label>Toggle</ion-label>
        </ion-item>

        <ion-item [routerLink]="['/toolbar']">
          <!-- <ion-icon name="caret-up-outline" slot="start"></ion-icon> -->
          <ion-label>Toolbar</ion-label>
        </ion-item>

        <ion-item [routerLink]="['/header']">
          <!-- <ion-icon name="caret-up-outline" slot="start"></ion-icon> -->
          <ion-label>Header</ion-label>
        </ion-item>

        <ion-item [routerLink]="['/back-button']">
          <!-- <ion-icon name="caret-up-outline" slot="start"></ion-icon> -->
          <ion-label>Back Button</ion-label>
        </ion-item>

        <ion-item [routerLink]="['/text']">
          <!-- <ion-icon name="caret-up-outline" slot="start"></ion-icon> -->
          <ion-label>Text</ion-label>
        </ion-item>

      </ion-list>
    </ion-content>
  </ion-menu> 

  <ion-router-outlet id="main"></ion-router-outlet>

</ion-split-pane>

</ion-app>
