<ion-header>
  <ion-toolbar>
    <ion-title>Fab Button</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-fab slot="fixed" horizontal="end">
    <ion-fab-button>Button</ion-fab-button>
  </ion-fab>


  <!-- Default Floating Action Button that scrolls with the content.-->
  <ion-fab-button>Default</ion-fab-button>

  <!-- Mini -->
  <ion-fab-button size="small">Mini</ion-fab-button>

  <ion-fab-button color="primary">Primary</ion-fab-button>
  <ion-fab-button color="secondary">Secondary</ion-fab-button>
  <ion-fab-button color="danger">Danger</ion-fab-button>
  <ion-fab-button color="light">Light</ion-fab-button>
  <ion-fab-button color="dark">Dark</ion-fab-button>


  <ion-fab-button activated="true">Activated</ion-fab-button>

  <ion-text>
    <h5>ion-fab-button will be enclosed inside ion-fab</h5>
  </ion-text>

</ion-content>
