<ion-header>
  <ion-toolbar>
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>

      <ion-col size-sm="4">
        <ion-button [routerLink]="['/actionSheet']">Action Sheet</ion-button>
      </ion-col>

      <ion-col size-sm="4">
        <ion-button [routerLink]="['/alert']">Alert</ion-button>
      </ion-col>

      <ion-col size-sm="4">
        <ion-button [routerLink]="['/badge']">Badge</ion-button>
      </ion-col>

    </ion-row>

    <ion-row>

      <ion-col size-sm="4">
        <ion-button [routerLink]="['/button']">Button</ion-button>
      </ion-col>

      <ion-col size-sm="4">
        <ion-button [routerLink]="['/ripple']">Ripple</ion-button>
      </ion-col>

      <ion-col size-sm="4">
        <ion-button [routerLink]="['/card']">Card</ion-button>
      </ion-col>

    </ion-row>

  </ion-grid>

</ion-content>