<ion-header>
  <ion-toolbar>
    <ion-title>home</ion-title>

    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>

      <ion-col size-sm="4">
        <ion-button [routerLink]="['/actionSheet']">Action Sheet</ion-button>
      </ion-col>

      <ion-col size-sm="4">
        <ion-button [routerLink]="['/alert']">Alert</ion-button>
      </ion-col>

      <ion-col size-sm="4">
        <ion-button [routerLink]="['/badge']">Badge</ion-button>
      </ion-col>

    </ion-row>

    <ion-row>

      <ion-col size-sm="4">
        <ion-button [routerLink]="['/button']">Button</ion-button>
      </ion-col>

      <ion-col size-sm="4">
        <ion-button [routerLink]="['/ripple']">Ripple</ion-button>
      </ion-col>

      <ion-col size-sm="4">
        <ion-button [routerLink]="['/card']">Card</ion-button>
      </ion-col>

    </ion-row>

    <ion-row>

      <ion-col size-sm="4">
        <ion-button [routerLink]="['/checkbox']">Checkbox</ion-button>
      </ion-col>

      <ion-col size-sm="4">
        <ion-button [routerLink]="['/chip']">chip</ion-button>
      </ion-col>

      <ion-col size-sm="4">
        <ion-button [routerLink]="['/content']">content</ion-button>
      </ion-col>

    </ion-row>

    <ion-row>

      <ion-col size-sm="4">
        <ion-button [routerLink]="['/datetime']">datetime</ion-button>
      </ion-col>

      <ion-col size-sm="4">
        <ion-button [routerLink]="['/grid']">grid</ion-button>
      </ion-col>

      <ion-col size-sm="4">
        <ion-button [routerLink]="['/input']">input</ion-button>
      </ion-col>

    </ion-row>

    <ion-row>

      <ion-col size-sm="4">
        <ion-button [routerLink]="['/fab']">fab</ion-button>
      </ion-col>

      <ion-col size-sm="4">
        <ion-button [routerLink]="['/fab-button']">fab button</ion-button>
      </ion-col>

      <ion-col size-sm="4">
        <ion-button [routerLink]="['/fab-list']">fab list</ion-button>
      </ion-col>

    </ion-row>

    <ion-row>

      <ion-col size-sm="4">
        <ion-button [routerLink]="['/item']">item</ion-button>
      </ion-col>

      <ion-col size-sm="4">
        <ion-button [routerLink]="['/item-group']">item group</ion-button>
      </ion-col>

      <ion-col size-sm="4">
        <ion-button [routerLink]="['/item-sliding']">item sliding</ion-button>
      </ion-col>

    </ion-row>

    <ion-row>

      <ion-col size-sm="4">
        <ion-button [routerLink]="['/list']">list</ion-button>
      </ion-col>

      <ion-col size-sm="4">
        <ion-button [routerLink]="['/virtual-scroll']">virtual scroll</ion-button>
      </ion-col>

      <ion-col size-sm="4">
        <ion-button [routerLink]="['/avatar-img-thumbnail']">avatar</ion-button>
      </ion-col>

    </ion-row>

    <ion-row>

      <ion-col size-sm="4">
        <ion-button [routerLink]="['/modal']">modal</ion-button>
      </ion-col>

      

    </ion-row>


  </ion-grid>

</ion-content>