<ion-header>
  <ion-toolbar>
    <ion-title>Avatar, Img, Thumbnail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-nav-link router-direction="forward" [component]="badgePage">
    <ion-item button>
      <ion-icon name="arrow-forward" slot="end"> </ion-icon>
      <ion-label>Go to Badge page</ion-label>
    </ion-item>
  </ion-nav-link>

  <ion-item-divider color="secondary">
    <h5>Avatar</h5>
  </ion-item-divider>

  <ion-avatar>
    <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
  </ion-avatar>

  <ion-chip>
    <ion-avatar>
      <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
    </ion-avatar>
    <ion-label>Chip Avatar</ion-label>
  </ion-chip>

  <ion-item>
    <ion-avatar slot="start">
      <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
    </ion-avatar>
    <ion-label>Item Avatar</ion-label>
  </ion-item>

  <!--  -->

  <ion-item-divider color="warning">
    <h5>Image</h5>
  </ion-item-divider>

  <ion-list>
    <ion-item *ngFor="let item of imageItems">
      <ion-thumbnail slot="start">
        <ion-img [src]="item.src"></ion-img>
      </ion-thumbnail>
      <ion-label>{{item.text}}</ion-label>
    </ion-item>
  </ion-list>

  <!--  -->

  <ion-item-divider color="danger">
    <h5>Thumbnail</h5>
  </ion-item-divider>

  <ion-thumbnail>
    <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
  </ion-thumbnail>

  <ion-item>
    <ion-thumbnail slot="start">
      <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
    </ion-thumbnail>
    <ion-label>Item Thumbnail</ion-label>
  </ion-item>



</ion-content>